.logo {
   display: flex;
   width: 7rem;
   height: 7rem;
   margin-left: 8rem;
   margin-top: 2.31rem;

   @media (max-width: 968px) {
      margin-left: 4rem;
   }
         
   @media (max-width: 768px) {
      margin-left: 1rem;
      width: 1.5rem;
      height: 1.5rem; 
   }
}

 img{
  
}

