.main-forecast {
    margin: 0;
    padding: 0;
}

.weather-forecast {
    margin-top: 2rem;
}

  .forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  .forecast-info {
   display: flex;
   justify-content: space-between;
   gap: 10px;
  }
  
  .forecast-time {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;

  }
  
  
  .forecast-degree {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.13px;
    color: rgba(255, 255, 255, 0.7);
  }