.main-forecast {
    margin: 0;
    padding: 0;
}

.weather-forecast {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 20px;

    @media (max-width: 768px) {
      font-size: 22px;
    }

    @media (max-width: 426px) {
      font-size: 18px;
    }
}

  .forecast {
    display: flex;
    justify-content: space-between;
  }
  
  .forecast-info {
   display: flex;
   justify-content: space-between;
   gap: 2rem;
  }
  
  .forecast-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .forecast-degree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.13px;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

  .forecast-icon {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }