.info-block-container {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 7.2rem;
  margin-bottom: 72px;

  @media (max-width: 768px) {
    margin-left: 1rem;
    width: 75%;
  }


  @media (max-width: 426px) {
    margin-left: 1rem;
    width: 70%;
  }
}

.info-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;


  @media (max-width: 768px) {
    width: 85%;
    margin-right: 5rem;
  }

  @media (max-width: 426px) {
    width: 90%;
    margin-right: 1rem;
  }
}

.degree {
  font-size: 9rem;
  padding-left: 1rem;
  margin: 0px;
  margin-right: 5px;
  letter-spacing: -6px;
  width: 40%;


  @media (max-width: 768px) {
    font-size: 7.5rem;
  }

  @media (max-width: 426px) {
    font-size: 4rem;
  }

}

.town-date {
  margin-right: 5px;
  height: 100%;
  font-size: 1.12rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: none;


  @media (max-width: 768px) {
    font-size: 1rem;
  }

  @media (max-width: 426px) {
    font-size: 0.62rem;
  }
}

.town {
  font-size: 3.75rem;

  @media (max-width: 768px) {
    font-size: 3rem;
  }

  @media (max-width: 426px) {
    font-size: 1.87rem;
  }

}

.info-left img {
  //position: relative;
  margin-right: 29px;
  max-width: 100%;
  width: 70px;
  height: 70px;
  //height: auto;

  @media (max-width: 768px) {
    width: 55px;
    height: 55px;
  }

  @media (max-width: 426px) {
    width: 40px;
    height: 40px;
  }
}